@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700;800&display=swap");

html,
body {
  margin: 0;
  font-family: "Baloo Bhaina 2", cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.item {
  width: 100px;
  height: 120px;
  overflow: hidden;
}

.owl-theme {
  align-items: center;
}

.card {
  margin-top: 5vh;
}

/* .upcoming-meeting-calls-card{
  -webkit-box-shadow: 4px 4px 9px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow:    4px 4px 9px 0px rgba(50, 50, 50, 0.15);
  box-shadow:         4px 4px 9px 0px rgba(50, 50, 50, 0.15);
} */

.course .info .meta {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#cars {
  margin-right: 5vw;
  background-color: #ffffff;
  color: #525252;
  border: none;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 5px;
}

.upcoming-meeting-calls-card {
  min-width: 25vw;
  margin-top: 5vh;
}

ul li{
  list-style-type: none !important;
}

.main-button:hover {
  background-color: #3f3a64;
}


.bk-course{
  border: 1px solid #00000031 ;
}

.rdrMonthAndYearWrapper{
  height: 30px;
}

.modal-body{
  /* padding : 0 !important ; */
}